申请{{restype.name}}

<form class="form-horizontal" action="">
  <input type="text" id="res_type_id" value="1"/>
  <div class="control-group">
    <label class="control-label" for="inputEmail">受理期限</label>
    <div class="controls">
      <input type="text" value="2012-01-02" id="range_accept"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">使用期限</label>
    <div class="controls">
      <input type="text" value="2012-01-02" id="range_using"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">备注</label>
    <div class="controls">
      <textarea></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>
<script type="text/javascript" src="/static/js/date.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script>
<script type="text/javascript">
$(function(){
				  $('#rangeC').daterangepicker({
				  	arrows: true,
				  	dateFormat:'yyyy-mm-dd',
				  	yearRange:'2012:2020',
				  	clearText:'清除',
				  	closeText:'关闭',
				  	prevText:'前一月',
				  	nextText:'后一月',
				  	currentText:'',
				  	monthNames:['1','2','1','2','1','2','1','2','1','2','1','2'],

				  }); 
				  
			 });
</script>