{% extends "base/base.html" %}
{% load mptt_tags %}
{% load resource_tags %}
{% block css %}
<link rel="stylesheet" href="/static/css/ui.daterangepicker.css" type="text/css" />
<link rel="stylesheet" href="/static/jquery.treeview/jquery.treeview.css" />
<style type="text/css">
.progress .bar-gray {
    background-color: #aaaaaa;
    background-image: linear-gradient(to bottom, #aaaaaa, #aaaaaa);
    background-repeat: repeat-x;
}
</style>
{% endblock %}

{% block content %}


<span class="badge">1:{{user}}</span>
 <a href="{% url webapp.views.logout_view %}" class="btn btn-inverse btn-mini">
{% if user.is_authenticated %}
        {{user}}
{% else %}
        登录
{% endif %}
      </a>
<table id="addtree" class="table table-hover">
    <caption>...</caption>
    <thead>
	<tr>
	<th width="200">类别</th>
	<th width="40%">使用状态<!--使用+超时+未注册+停用--></th>
	<th>申请数及可用数<!--可用/总数--></th>	
    <th width="200">操作</th>
	</tr>
    </thead>

{% recursetree nodes %}
	<tr>
		<td style="white-space:nowrap;">
	       <span style="margin-left:{% widthratio node.level 1 20 %}px;" class="
                {% if node.is_leaf_node %}
                    icon-file
                {% else %}	
                    icon-folder-open
                {% endif %}
            ">
    	
{% if node.is_abstract %}
    	   <span style="margin-left:20px;">{{ node.name }}</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
{% else %}
    		<span style="margin-left:20px;">
                <a href='{% url resource.views.catalogs node.id %}'>{{ node.name }}</a>
    		</span>
        </td>
    	<td>
            
            {% restype_using_bar node 8 %}
        </td>

    	<td>{% restype_having_bar node %}
        </td>
    	<td>
            <button class="btn btn-primary btn-mini" name="request" value="{{ node.id }}" title="{{node.name}}">申请</button>    
            
    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
    管理
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    </ul>
    </td>
{% endif %}
    	
    	
    	</tr>
 
    
 	{{ children }}
    
{% endrecursetree %}
</table> 

<!--static dialog-->
<div id="dialog-message" title="申请资源">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    </form>
</div>
        <!--end static dialog-->

{% endblock %}

{% block onreadyscript %}
//Tooltip
$( "#tooltip" ).tooltip(); 


 
// Dialogs
$("#dialog-message").dialog({
    autoOpen: false,
    modal: true,
    width: 600,
    title: 'abc',

    buttons: {
        Ok: function () {
            $(this).dialog("close");
        }
    }
});


$('[name="request"]').click(function(){
    //alert($(this).val());

    $('#dialog-message').load('/request/request?type_id='+$(this).val());
    $('#dialog-message').dialog('open');
    return false;

});
{% endblock %}
