{% extends "base/list.html" %}

{% block css %}
<link href="/static/css/resource_state.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block sidebar %}
	{% include "parts/sidebar_resources.html" %}
{% endblock %}
{% block main %}
name:{{ resourcetype.name }}<br/>
parent:{{ resourcetype.parent.name }}<br/>
host:{{ resourcetype.host.name }}<br/>
attr_count: {{resourcetype.attributes.all|length}}<br/>
<table>
	<tr>
		{% for attr in resourcetype.attributes.all %}
		<th>{{attr.name}}</th>
		{% endfor %}
	</tr>
	
</table>
res_count:{{ resourcetype.resource_set.all|length }}<br/>


{% regroup resourcetype.resource_set.all by parent as hosts %}

{% for host in hosts %}
<div class="row-fluid">
    name:{{ host.grouper }}<hr/>
   
        {% for resource in host.list %}
          {% include "parts/resource_card.html" %}
        {% endfor %}
    <br/>
</div>
{% endfor %}


{% endblock %}