{% extends "base/list.html" %}

{% block sidebar %}
	{% include "parts/sidebar_resources.html" %}
{% endblock %}
{% block main %}
name:{{ resourcetype.name }}<br/>
parent:{{ resourcetype.parent.name }}<br/>
host:{{ resourcetype.host.name }}<br/>
attr_count: {{resourcetype.attributes.all|length}}<br/>
<table>
	<tr>
		{% for attr in resourcetype.attributes.all %}
		<th>{{attr.name}}</th>
		{% endfor %}
	</tr>
	{% for attr in resourcetype.resource_set.all %}
		<tr>
			{% for attr in resourcetype.attributes.all %}
			<td>{{attr.name}}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
res_count:{{ resourcetype.resource_set.all|length }}<br/>

{% endblock %}