{% extends "base/base.html" %}
{% load mptt_tags %}
{% load resource_tags %}
{% block css %}
<link rel="stylesheet" href="/static/jquery.treeview/jquery.treeview.css" />
{% endblock %}

{% block content %}

<table id="addtree" class="table table-hover">
	<tr>
	<th>类别</th>
	<th>数量</th>
	<th>空闲</th>
	<th>使用</th>
	<th>超时</th>
	<th>非法使用</th>
	<th>停用</th>
	</tr>

{% recursetree nodes %}
	<tr>
		<td style="white-space:nowrap;">
	
    
    <span style="margin-left:{% widthratio node.level 1 20 %}px;" class="
    {% if node.is_leaf_node %}
    icon-file
    {% else %}	
    icon-folder-open
    {% endif %}
    ">
    	
    	{% if node.is_abstract %}
    	<span style="margin-left:20px;">
    		{{ node.name }}
    		</span></td>

    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
    	{% else %}
    		<span style="margin-left:20px;"><a href='{% url resource.views.catalogs node.id %}'>{{ node.name }}</a>
    			</span></td>

    	<td><a href='{% url resource.views.catalogs node.id %}'>{{ node.resource_set.all|length }}</a></td>
    	<td><a href='{% url resource.views.catalogs node.id %}?state=ENB'>{{ node.resource_set|filter_resource_state:"ENB"|length }}</a></td>
    	<td><a href='/resource/resources?type={{node.id}}&state=USE'>{{ node.resource_set|filter_resource_state:"USE"|length }}</a></td>
    	<td><a href='/resource/resources?type={{node.id}}&state=OUT'>{{ node.resource_set|filter_resource_state:"OUT"|length }}</a></td>
    	<td><a href='/resource/resources?type={{node.id}}&state=WAN'>{{ node.resource_set|filter_resource_state:"WAN"|length }}</a></td>
    	<td><a href='/resource/resources?type={{node.id}}&state=DIS'>{{ node.resource_set|filter_resource_state:"DIS"|length }}</a></td>
    	{% endif %}
    	
    	
    	</tr>
 
    
 	{{ children }}
    
{% endrecursetree %}
</table> 



{% endblock %}


