<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="holbrook(wanghaikuo@gmail.com)">

    <!-- Le styles -->
    <link href="/static/bootstrap2.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap2.2.1/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/static/images/hysec.ico">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        {% block navbar %}
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="container-fluid">
      {% block content %}abcdefg{% endblock %}
    </div><!--/.fluid-container-->
      <footer class="footer">
        <div class="container">
            <p>宏源证券 信息技术中心</p>
            <p> Copyright © 宏源证券股份有限公司</p>
        </div>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-ui-1.9.0.custom.min.js"></script>
    <script src="/static/bootstrap2.2.1/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}

    <script language="javascript">
    $(document).ready(function() {

    /*
    i put this part on top of each file, even if i don't need it right now,
    again, to keep everything consistent
    */

      {% block onreadyscript %}{% endblock %}
    });
    </script>
  </body>
</html>
 