{% extends "base/base.html" %}
{% block title %}宏源证券IT资源支持平台{% endblock %}
{% block css %}
<link href="/static/css/index.css" rel="stylesheet" media="screen" />
<link href="/static/css/index1.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block navbar %}
<div class="container-fluid">
  
  <a class="brand" href="#">开发支持</a>
  <div class="nav-collapse collapse">
  	        
    <p class="navbar-text pull-right">
      <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
      	<a  href="//gathercontent.com/how-it-works" class="menu-item highlight-item">How It Works</a>
      	<a href="//gathercontent.com/features">Features</a>
      	<a href="//gathercontent.com/signup">Get Started Now</a>

       <a id="login" href="#" class="btn btn-inverse btn-mini">
{% if request.user.is_authenticated %}
        {{request.user}}
{% else %}
        登录
{% endif %}
      </a>
    </p>            
  </div><!--/.nav-collapse -->
</div>

{% endblock %}

{% block content %}

<div class="hero-unit">
	<div class="container">
		<h1>让事情变得简单！</h1>
		<h2>IT资源注册、创建、申请、注销。。。</h2>
		
		<ul class="row ">
			<li class="span3 plan float-up">
				<p><a href='/projects/'>项目</a></p>
        <!--当前新申请资源的项目-->
        <p>统一账户系统（5）</p>
        <p>金融资讯数据中心(4)</p>
        <p>合规系统（3）</p>
        <p>研究所知识管理平台（1）</p>
        <button type="button" class="btn btn-success ">创建</button>              
			</li>
			
			<li class="span3 structure float-up">
				<p><a href='{% url resource.views.catalogs %}'>资源</a></p>
        <!--当前新申请的资源-->
				<p>服务器（3）</p>
        <p>工位（10）</p>
        <p>网络访问（3）</p>
        <p>准入（3）</p>
			</li>
			
			<li class="span3 collaborate float-up">
				<p>开发商</p>
        <!--当前活跃的开发商及驻场人员-->
				<p>金证（3）</p>
        <p>顶点（3）</p>
        <p>恒生（3）</p>
        <p>同花顺（3）</p>
			</li>
			
			<li class="span3 deliver float-up">
				<p>应用系统</p>				
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/index1.js"></script>

<!-- end olark code -->
{% endblock %}
