{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
          	{% block sidebar %}
          	<br/><br/><br/><br/><br/><br/><br/>
            ul-li
            {% endblock %}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
            {% block main %}
            <br/><br/><br/><br/><br/><br/><br/>main
            {% endblock %}
        </div><!--/span-->
      </div><!--/row-->
      <hr/>
{% endblock %}