{% extends "base/list.html" %}
{% block css %}
<link rel="stylesheet" href="/static/jquery.treeview/jquery.treeview.css" />
{% endblock %}
{% block sidebar %}
	{% include "parts/sidebar_resources.html" %}
{% endblock %}

{{% block main %}


<table class="table table-hover">
          <caption>子网</caption>
<thead>
<tr>
<th>#</th>
<th>名称</th>
<th>使用者</th>
<th>扩展属性1</th>
<th>扩展属性2</th>
<th>扩展属性3</th>
</tr>
</thead>
<tbody>
{% for p in project_list %}
<tr>
<td>1</td>
<td>{{p.name}}</td>
<td>{{p.tag.dict_value}}</td>
<td>{{p.plan_date}}</td>
<td>
{% for m in p.managers %}	
{{m.person.name}}&nbsp;
{% endfor %}
</td>
<td>
{% for m in p.members.all %}
{{m.name}}&nbsp;
{% endfor %}
</td>
<td>{{p.state.dict_value}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}


{% block js %}
<script src="/static/jquery.treeview/jquery.treeview.js" type="text/javascript"></script>
{% endblock %}

{% block onreadyscript %}
$("#restype").treeview();

jQuery("#addtree").jqGrid({ 
	url: '/static/resources.xml', 
	treedatatype: "xml", 
	mtype: "POST", 
	colNames:["id","类别","名称","使用情况", "Debit", "Credit","Balance"], 
	colModel:[ 
		{name:'id',index:'id', width:1,hidden:true,key:true, editable:true}, 
		{name:'type',type:'name', width:180, editable:true}, 
		{name:'name',index:'name', width:180, editable:true}, 
		{name:'num',index:'acc_num', width:80, align:"center",editable:true}, 
		{name:'debit',index:'debit', width:80, align:"right",editable:true}, 
		{name:'credit',index:'credit', width:80,align:"right",editable:true}, 
		{name:'balance',index:'balance', width:80,align:"right",editable:true} 
	], 
	height:'100%',
	autowidth:true, 
	pager : "#paddtree", 
	treeGrid: true, 
	ExpandColumn : 'type', 
	//rownumbers:true,
	rowNum:20,
	editurl:'server.php?q=dummy', 
	//caption: "Add Tree node example" 
}); 

jQuery("#addtree").jqGrid('navGrid',"#paddtree");

{% endblock %}