{% extends "list.html" %}
{% block css %}
<link rel="stylesheet" href="/static/jquery.treeview/jquery.treeview.css" />
<link rel="stylesheet" href="/static/jquery.jqGrid-4.4.1/css/ui.jqgrid.css" />
{% endblock %}
{% block sidebar %}
	{% include "parts/sidebar_resources.html" %}
{% endblock %}

{% block main %}
<div id='navGrid'></div>
<table id="addtree" class="table table-hover"></table> 

<div id="paddtree"></div>

{% endblock %}


{% block js %}
<script src="/static/jquery.treeview/jquery.treeview.js" type="text/javascript"></script>
<script src="/static/jquery.jqGrid-4.4.1/js/i18n/grid.locale-cn.js" type="text/javascript"></script>
<script src="/static/jquery.jqGrid-4.4.1/js/jquery.jqGrid.min.js" type="text/javascript"></script>

{% endblock %}

{% block onreadyscript %}
$("#restype").treeview();

jQuery("#addtree").jqGrid({ 
	url: '/static/resources.xml', 
	treedatatype: "xml", 
	mtype: "POST", 
	colNames:["id","类别","名称","使用情况", "Debit", "Credit","Balance"], 
	colModel:[ 
		{name:'id',index:'id', width:1,hidden:true,key:true, editable:true}, 
		{name:'type',type:'name', width:180, editable:true}, 
		{name:'name',index:'name', width:180, editable:true}, 
		{name:'num',index:'acc_num', width:80, align:"center",editable:true}, 
		{name:'debit',index:'debit', width:80, align:"right",editable:true}, 
		{name:'credit',index:'credit', width:80,align:"right",editable:true}, 
		{name:'balance',index:'balance', width:80,align:"right",editable:true} 
	], 
	height:'100%',
	autowidth:true, 
	pager : "#paddtree", 
	treeGrid: true, 
	ExpandColumn : 'type', 
	//rownumbers:true,
	rowNum:20,
	editurl:'server.php?q=dummy', 
	//caption: "Add Tree node example" 
}); 

jQuery("#addtree").jqGrid('navGrid',"#paddtree");

{% endblock %}