.ENB {
background:#5BB75B;	
color:#FFFFFF;
} 

.DIS {

}

.USE {
background:#006DCC;
color:#FFFFFF;
} 

.OUT {
background:#DA4F49;
color:#FFFFFF;
} 

.UNR {
background:#FAA732;
color:#FFFFFF;
}

.resource:hover {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    cursor: pointer;
} 

